* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Creepster', cursive;
}

.App {
  text-align: center;
  background: rgb(34, 193, 195);
  color: rgb(250, 253, 28);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(16, 71, 62, 1) 100%
  );
}
